@charset "UTF8";
@font-face{  
  font-family: 'idroid';
  src: url('fontes/idroid.otf') format('opentype');
}


header{
  background-image: linear-gradient(to right,#116611, #86dd86);
 /* border-radius: 10px; */
  box-shadow: 5px 5px 15px #4d3d3569; /*quanto vai para direita, quanto vai para baixo, espalhamento e a cor*/
  padding: 10px;
  margin:auto;

}
#caixa01{
  color: white;
  text-align: center;
}
nav > a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 30px;

}
body{
  background-color: #55AA55; 
 
}
main{
    background-color: white;
    /* border-radius: 10px; */
    box-shadow: 5px 5px 15px #4d3d3569; /*quanto vai para direita, quanto vai para baixo, espalhamento e a cor*/
    padding: 10px;
    margin:auto;
    width: 80%;
    text-align: center;
}
h1{
  color: white;
  font-size: 3em;
  text-align: center;  
 /* text-shadow: 1px 1px 2px #382202;*/ 

}
h2{
  font-family: 'idroid', Times , serif;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}
h3{
  font-family: 'idroid', Times , serif;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}
h4{
  background-color: #116611; 
  color: white;
  font-size: 1em;
  text-align: left; 
  padding: 10px; 
  height: 25px;
  width:  auto;
  margin: 0px;
}
p{
    font-weight: normal;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal; /*italic; */ 
    text-align: justify;
    padding: 5px 10px;

}
section.extra {
  background-color: white;
  border-radius: 10px; 
  box-shadow: 5px 5px 15px #4d3d3569; /*quanto vai para direita, quanto vai para baixo, espalhamento e a cor*/
  padding: 10px;
  margin:auto;
  width: 80%;
  height: auto;
  text-align: center;
}

section.extra  > article {
  display: block;
  font-size: 1em;
  text-align: left;  
  border-radius: 5px; 
  background-color:#a5c5a5;
  border: 1px solid back;
  height: auto;
  width: auto;
}

#opcao1{
  display: inline-block;
  background-color: #a5c5a5;
  text-align: left;
  border: 1px solid back;
  margin: 2px;
  height: auto;
  width: 200px;
}
#opcao2{
  display: inline-block;
  background-color:#a5c5a5;
  text-align: left;
  border: 1px solid back;
  margin: 2px 100px 2px 2px ;
  height: auto;
  width: 200px;
}

li::before{
  content: '✔';
}
.especial::after{
  content: '♮';
}

footer > p
{
  background-color: #004400;
  color: white;
  text-align: center;
  padding: 1px;
  margin:0px;
}



